[submodule "packages/colorama-feedstock"]
	path = packages/colorama-feedstock
	url = https://github.com/zachcp/colorama-feedstock.git
[submodule "packages/dash-bio-feedstock"]
	path = packages/dash-bio-feedstock
	url = https://github.com/zachcp/dash-bio-feedstock.git
[submodule "packages/addict-feedstock"]
	path = packages/addict-feedstock
	url = https://github.com/zachcp/addict-feedstock.git
[submodule "packages/asdf-feedstock"]
	path = packages/asdf-feedstock
	url = https://github.com/zachcp/asdf-feedstock.git
[submodule "packages/acgc-feedstock"]
	path = packages/acgc-feedstock
	url = https://github.com/zachcp/acgc-feedstock.git
[submodule "packages/sortedcontainers-feedstock"]
	path = packages/sortedcontainers-feedstock
	url = https://github.com/zachcp/sortedcontainers-feedstock.git
