[submodule "packages/colorama-feedstock"]
	path = packages/colorama-feedstock
	url = https://github.com/zachcp/colorama-feedstock.git
[submodule "packages/dash-bio-feedstock"]
	path = packages/dash-bio-feedstock
	url = https://github.com/zachcp/dash-bio-feedstock.git
[submodule "packages/addict-feedstock"]
	path = packages/addict-feedstock
	url = https://github.com/zachcp/addict-feedstock.git
[submodule "packages/asdf-feedstock"]
	path = packages/asdf-feedstock
	url = https://github.com/zachcp/asdf-feedstock.git
[submodule "packages/acgc-feedstock"]
	path = packages/acgc-feedstock
	url = https://github.com/zachcp/acgc-feedstock.git
[submodule "packages/sortedcontainers-feedstock"]
	path = packages/sortedcontainers-feedstock
	url = https://github.com/zachcp/sortedcontainers-feedstock.git
[submodule "packages/click-feedstock"]
	path = packages/click-feedstock
	url = https://github.com/zachcp/click-feedstock.git
[submodule "packages/importlib-metadata-feedstock"]
	path = packages/importlib-metadata-feedstock
	url = https://github.com/zachcp/importlib-metadata-feedstock.git
[submodule "packages/pep517-feedstock"]
	path = packages/pep517-feedstock
	url = https://github.com/zachcp/pep517-feedstock.git
[submodule "packages/requests-feedstock"]
	path = packages/requests-feedstock
	url = https://github.com/zachcp/requests-feedstock.git
[submodule "packages/pyyaml-feedstock"]
	path = packages/pyyaml-feedstock
	url = https://github.com/zachcp/pyyaml-feedstock.git
[submodule "packages/urllib3-feedstock"]
	path = packages/urllib3-feedstock
	url = https://github.com/zachcp/urllib3-feedstock.git
[submodule "packages/idna-feedstock"]
	path = packages/idna-feedstock
	url = https://github.com/zachcp/idna-feedstock.git
[submodule "packages/chardet-feedstock"]
	path = packages/chardet-feedstock
	url = https://github.com/zachcp/chardet-feedstock.git
[submodule "packages/pluggy-feedstock"]
	path = packages/pluggy-feedstock
	url = https://github.com/zachcp/pluggy-feedstock.git
[submodule "packages/jinja2-feedstock"]
	path = packages/jinja2-feedstock
	url = https://github.com/zachcp/jinja2-feedstock.git
[submodule "packages/attrs-feedstock"]
	path = packages/attrs-feedstock
	url = https://github.com/zachcp/attrs-feedstock.git
[submodule "packages/mako-feedstock"]
	path = packages/mako-feedstock
	url = https://github.com/zachcp/mako-feedstock.git
[submodule "packages/certifi-feedstock"]
	path = packages/certifi-feedstock
	url = https://github.com/zachcp/certifi-feedstock.git
[submodule "packages/pytz-feedstock"]
	path = packages/pytz-feedstock
	url = https://github.com/zachcp/pytz-feedstock.git
[submodule "packages/cycler-feedstock"]
	path = packages/cycler-feedstock
	url = https://github.com/zachcp/cycler-feedstock.git
[submodule "packages/dill-feedstock"]
	path = packages/dill-feedstock
	url = https://github.com/zachcp/dill-feedstock.git
[submodule "packages/decorator-feedstock"]
	path = packages/decorator-feedstock
	url = https://github.com/zachcp/decorator-feedstock.git
[submodule "packages/semantic_version-feedstock"]
	path = packages/semantic_version-feedstock
	url = https://github.com/zachcp/semantic_version-feedstock.git
[submodule "packages/cloudpickle-feedstock"]
	path = packages/cloudpickle-feedstock
	url = https://github.com/zachcp/cloudpickle-feedstock.git
[submodule "packages/toolz-feedstock"]
	path = packages/toolz-feedstock
	url = https://github.com/zachcp/toolz-feedstock.git
[submodule "packages/toml-feedstock"]
	path = packages/toml-feedstock
	url = https://github.com/zachcp/toml-feedstock.git
[submodule "packages/more-itertools-feedstock"]
	path = packages/more-itertools-feedstock
	url = https://github.com/zachcp/more-itertools-feedstock.git
